@media (max-width: 1156px) {
    .bowl__1 {
        width: 205px !important;
        height: 229px !important;
        right: 290px !important;
        top: 23px !important;
    }

    .bowl__2 {
        width: 209px !important;
        height: 211px !important;
        left: 384px !important;
        top: 163px !important;
    }

    .bowl__3 {
        width: 181px !important;
        height: 176px !important;
        top: 300px !important;
    }

    .title {
        margin-left: 20px;
        font-size: 102px !important;
        line-height: 114px !important;
    }

    .charcoal {
        width: 587px  !important;
        height: 400px  !important;
        left: -10px  !important;
        top: 61px  !important;
    }
}

@media (max-width: 958px) {
    .main-navbar__item {
        font-size: 32px !important;
        line-height: 46px !important;
    }

    .bowl__3 {

        left: -20px !important;
        top: 299px !important;
    }
    .flask {
        width: 341px !important;
        height: 648px !important;
    }


}

@media (max-width: 905px) {
    .title {
        font-size: 80px !important;
        line-height: 89px !important;

    }

    .main-navbar {
        margin-top: 100px;
    }

    .flask {
        width: 293px !important;
        height: 555px !important;
    }

    .charcoal {
        width: 416px !important;
        height: 293px !important;
    }
}

@media (max-width: 730px) {
    .title {
        display: none;
    }

    .main-navbar {
        margin-top: 100px;
    }

    .bowl__1 {
        right: 72px !important;
        top: -122px !important;
    }

    .bowl__2 {
        left: -242px !important;
        top: 23px !important;
    }

    .bowl__3 {
        width: 196px !important;
        height: 197px !important;
        left: -354px !important;
        top: 186px !important;
    }
    .flask {
        display: none;
    }
    .flask-full {
        background-image: url(./../img/flask-full.png);
        width: 200px;
        height: 522px;
        right: 0;
        top: -144px;
    }

    .charcoal {
        left: -399px !important;
    }
}

@media (max-width: 430px) {
    .bowl__1 {
        right: -50px !important;
        top: -122px !important;
    }

    .bowl__2 {
        left: -154px !important;
        top: 23px !important;
    }

    .bowl__3 {
        left: -304px !important;
        top: 186px !important;
    }

    .charcoal {
        left: -301px !important;
        top: 82px !important;
    }
}