* {
	box-sizing: border-box;
	// 	border: 1px solid red;
}

*,
*::before,
*::after {
	box-sizing: inherit;

}

body {
	font-family: 'SFProDisplay', sans-serif;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

ul, ol {
	margin: 0;
	padding: 0 !important;
	list-style: none;
}

a {
	color: inherit !important;
	text-decoration: none !important;
	outline: none;
}

button {
	background: transparent;
	border: 0;
	cursor: pointer;
}


img {
	max-width: 100%;
}